<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="OneScript" path="*.os" verb="*" modules="CgiModule" scriptProcessor="&quot;C:\Program Files (x86)\OneScript\bin\oscript.exe&quot; -cgi %s" resourceType="File" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <add name="Content-type" value="text/html; charset=utf-8" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
