<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <httpHandlers>
            <add verb="*" path="*.os" type="OneScript.ASPNETHandler.ASPNETHandler, ASPNETHandler" />
        </httpHandlers>
    </system.web>
    <system.webServer>
        <handlers>
            <add name="OneScript" path="*.os" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="File" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
        </handlers>
    </system.webServer>
	<appSettings>
		<add key="CachingEnabled" value="true"/>
	</appSettings>
</configuration>
